/* Light and Dark mode */
:root {
  --bg-color: #333;
  --text-color: #f0f0f0;
  --link-color: #9acd32;
}

body.dark-mode {
  --bg-color: white;
  --text-color: black;
  --link-color: blue;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;

}



.content {
  display: none;
}

.content.active {
  display: block;
}

.toggle-button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: var(--link-color);
  color: var(--bg-color);
  border-radius: 5px;
}

/* Main Content */


.icon-size {
  height: 300px;
}


.card {
  padding: 20px;
  border-radius: 19px;
background: #4b4949;
box-shadow: inset 7px 7px 22px #413f3f,
            inset -7px -7px 22px #565353;
            
 
  
}

.card-text{
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
}

.card-title{
  margin-top: 20px
}

.card-image {
  height: 100%;
  width: 100%;
}

.card-button{
  background-color: #0c053e;
  width: 30%;
  text-decoration: none;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
